<h1>New user</h1>

<%= form_for @user, url: api_users_path do |f| %>

<p>
    <%= f.label :acclaim_id %><br>
    <%= f.text_field :acclaim_id %>
</p>
<p>
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
</p>
<p>
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
</p>

<p>
    <%= f.submit %>
</p>
<% end %>